h1{
font-family: 'Arial Narrow Bold',serif ;
background:linear-gradient(to left);
}

ul li {

    border-radius: 5px;
    padding: 5px;
    display: inline;
}
.row{
    padding: 3px;

}
.a1{
    font-family:'Arial Narrow Bold',serif;
  font-size: 20px;
  font-weight: bolder;
}



.container{
display: grid;



}
.phone1{
padding:0px 500px 0px 0px;
width :200px;
height:300px;
float: right;background-color: aqua;


}
