

.container{
    overflow:hidden;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
  display: flex;
justify-content: space-around;
}
.first{
    display:inline-block;
}

.container2{
    overflow:hidden;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

 
.second1{
font-size: 25px;

}
.container3{
    overflow:hidden;
    text-align: center;
    display: flex;
    justify-content: space-around;


}
.container3 input [type="text"]{flex:1 1 auto;}
.third1{
background-color: #fc1c03;
color:white;
padding: 5px 10px;

}
/*container4{
display: grid;
grid-template-columns: repeat(3 1fr);
grid-template-rows: repeat(2 1fr);
grid-template-areas: "section_1 section_1 section_1"
"section_2 section_2 section_2"
"section_3 section_3 section_3";
}
p1{
grid-column:1;
grid-row:1/2 ;
}
p2{
    grid-column:2/3;
    grid-row:1 ;

}
p3{
    grid-column:2/3 ;
    grid-row:2 ;

}*/
.container4{
font-size: 14px;

}
.fourth1{
    position: relative;
   background-color: aquamarine;
   width: 450px;
   height: 400px;
}
.phone{
    position: absolute;
    top: 100px;
    right: 10px;
    bottom: 100px;
}
.midweek{
    position: absolute;
    top: 100px;
    left: 10px;
    bottom: 100px;

}
.fourth2{
position: absolute;
width: 450px;
height: 200px;
left: 470px;
top: 322px;
background-color: #dec8e8;

}
.limited{

    position: absolute;
    top: 30px;
    left: 10px;
    bottom: 50px;
}
.macbookair{
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 100px;

}
.price{
    color:#4491e3;
}
.fourth3{
    position: absolute;
    width: 450px;
    height: 200px;
    left: 470px;
    top: 522px;
    background-color: #99a3ad;
}
.headphones{
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 100px;

}
.discover{
    position: absolute;
    top: 30px;
    left: 10px;
    bottom: 50px;
}
.price1{
    color:#d428ac;
    font-size: 16px;
}
