
.container{
    overflow:hidden;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
  display: flex;
justify-content: space-around;
}
.first{
    display:inline-block;
}

.container2{
    overflow:hidden;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

 
.second1{
font-size: 25px;

}
.container3{
    overflow:hidden;
    text-align: center;
    display: flex;
    justify-content: space-around;


}
.container3 input [type="text"]{flex:1 1 auto;}
.third1{
background-color: #fc1c03;
color:white;
padding: 5px 10px;

}
