.checkboxes
{
    height: 300px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
table
{
    border: 1px solid black;
    width:80%;
    align-items:center;
   
}
th, td
{
border: 1px solid black;

}